$white: #ffffff;
$black: #000000;

$neutral-900: #111111;
$neutral-700: #444444;
$neutral-600: #666666;
$neutral-500: #777777;
$blue-500: #007bff;

$cyan-glow: #00ffff;
$gold-500: #F3AF1C;

$cyan-a40: rgba(0, 255, 255, 0.4);
$cyan-a20: rgba(0, 255, 255, 0.2);
$cyan-a18: rgba(0, 255, 255, 0.18);
$cyan-a16: rgba(0, 255, 255, 0.16);

$white-a18: rgba(255, 255, 255, 0.18);
$white-a10: rgba(255, 255, 255, 0.10);

$black-a60: rgba(0, 0, 0, 0.6);
$black-a30: rgba(0, 0, 0, 0.3);