@use './core' as *;

$modal-bg: $black-a60;
$modal-content-bg: $white;
$modal-text-color: $neutral-900;
$modal-shadow-color: $black-a30;

$close-color: $neutral-700;
$close-hover: $black;

$link-color: $blue-500;
$link-hover-underline: underline;

$breadcrumb-color: $neutral-500;
$empty-text-color: $neutral-600;