$font-lg: 1.6rem;
$font-md: 1.3rem;
$font-sm: 1.25rem;
$font-xs: 1rem;

$mono-jetbrains: 'JetBrains Mono', monospace;
$tooltip-font-size: 0.95rem;

$modal-header-size: 1.5rem;
$modal-body-font: 1.1rem;

$font-main: 'Arial', sans-serif;
$font-emphasis: 'Playfair Display', 'Times New Roman', serif;
$font-monospace: $mono-jetbrains;

$notes-emphasis-size: 21px;
$notes-sub2-size: 30px;
$notes-table-emphasis-size: 1.35rem;

$notes-code-font: normal 1rem/1.5 $font-monospace;