/* =============================
            Variables
   ============================= */
$footer-bg-color: #333;
$text-color: white;
$font-size-lg: 26px;
$font-size-sm: 1.1rem;

$footer-height: 60px;
$footer-mobile-height: 3.5rem;
$footer-padding: 10px;
$footer-mobile-padding: 2rem;

/* ==============================
          Breakpoints          
   ============================== */
$cellphone-portrait: 480px;
$cellphone-landscape: 390px;
$small-laptop-max: 1366px;
$small-laptop-min: 1024px;

/* =============================
         Footer Styling
   ============================= */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-lg;
  height: $footer-height;
  margin-top: auto; // Pushes footer to the bottom
  margin-bottom: 0;
  color: $text-color;
  background-color: $footer-bg-color;
  padding: $footer-padding;
  max-height: 100vh;

  @media only screen and (max-width: $cellphone-portrait) and (orientation: portrait) {
    font-size: $font-size-sm;
    height: $footer-mobile-height;
    padding: $footer-mobile-padding;
    text-align: center;
  }
}
