/* Navigation Menu */
.navigationMenu {
  position: fixed;
  top: 120px;
  width: 100%;
  height: 7rem;
  background-color: rgb(38, 38, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.dropdown {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdownLink {
  color: rgb(240, 128, 128);
  text-decoration: none;
  display: block;
}

.dropdownLink:hover {
  background-color: rgb(60, 60, 60);
}

.dropdownButton {
  background-color: transparent;
  border: none;
  padding: 0 40px;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
  color: rgb(7, 193, 255);
}

.dropdownButton.level-1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #1E90FF;
  font-size: 1.8rem;
  text-align: center;
  width: 11rem;
}

.dropdownButton.level-2 {
  padding-bottom: 3px;
  font-size: 1.4rem;
  color: rgb(218, 165, 32);
}

.dropdownButton.level-3 {
  padding-bottom: 2px;
  font-size: 1.5rem;
  color: rgb(0, 255, 127);
}

.dropdownContent {
  position: absolute;
  left: 82px;
  background-color: rgb(38, 38, 39);
  min-width: 18rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdownContent.active {
  display: block;
  flex-direction: column;
  margin: 0 auto;
  width: 17rem;
  max-height: 31.2rem;
  margin-top: 2rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* .dropdownContent.active::-webkit-scrollbar {
  width: 6px;
}

.dropdownContent.active::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px; 
}

.dropdownContent.active::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.dropdownContent.active::-webkit-scrollbar-track {
  background: transparent;
}

.dropdownContent.active::-webkit-scrollbar-button {
  display: none;
} */

.dropdownMenu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 390px) {
  .navigationMenu {
    width: 100%;
    height: 100%;
  }

  .navigationContent {
    overflow-y: auto;
    padding: 0;
    width: 100%;
    margin: 7rem auto 1rem auto;
    z-index: 10;
  }
}
