@use 'sass:color';
@use '@scss/Globals' as *;

/* ==============================
   Breakpoints
   ============================== */
   $cellphone-portrait: 480px;

.PageLayout {
    position: relative;
  }
  
  Tooltip below the page header
  .BreadcrumbTooltip {
    position: absolute;
    top: 1rem;
    left: 77.4%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.95);
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 255, 255, 0.2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    color: #00ffff;
    font-size: 0.95rem;
    white-space: nowrap;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
    text-align: center;
    min-width: 250px;
    font-family: 'JetBrains Mono', monospace;

    @media only screen and (max-width: $cellphone-portrait) and (orientation: portrait) {
      display: none;
    }
  
    .BreadcrumbRow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.2rem;
      line-height: 1.4;
    }
  
    .BreadcrumbLeft,
    .BreadcrumbRight {
      color: #00ffff;
      font-weight: 400;
    }
  
    .BreadcrumbArrow {
      color: #00cccc;
      font-weight: bold;
    }
  }