@use '@scss/Globals' as *;

/* card shell */
@use './card';

/* markdown pieces */
@use './markdown/headings';
@use './markdown/emphasis';
@use './markdown/navigationButtons';
@use './markdown/bullets';
@use './markdown/tables';
@use './markdown/code';
@use './markdown/main';