@use 'sass:color';
@use '@scss/Globals' as *;

.PageLayout {
  position: relative;
}

.BreadcrumbTooltip {
  position: absolute;
  top: 1rem;
  left: 77.4%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0.75rem 1.25rem;
  border: 1px solid $cyan-a20;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  color: $cyan-glow;
  font-size: 0.95rem;
  white-space: nowrap;
  z-index: 999;
  box-shadow: 0 0 10px $cyan-a40;
  text-align: center;
  min-width: 250px;
  font-family: 'JetBrains Mono', monospace;

  @include phone-portrait {
    display: none;
  }

  .BreadcrumbRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem;
    line-height: 1.4;
  }

  .BreadcrumbLeft,
  .BreadcrumbRight {
    color: $cyan-glow;
    font-weight: 400;
  }

  .BreadcrumbArrow {
    color: #00cccc;
    font-weight: bold;
  }
}